body{
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.logoUTN{
    height: 3em;
    color: black;
    width: auto;
    margin:0 10px;
    mix-blend-mode: multiply;  /*quitarle el fondo a imagen  */
}


.image-container{
    display: flex;
    margin-top: 1em;
    padding: 1em 0;
    background-color: #2f2f2f50;
}

.UTN, .FRA{
    margin: 0;
}

.UTN{
    font-weight: bold;
}

footer{
    height: 4em;
    width: auto;
    background-color: #204060;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container label, .login-container input{
    text-align: center;
}

.login-container label{
    margin: 1.4em 0 0 0;
    font-size: 1.2em;
    font-weight: 500;
}

.login-container input{
    width: 100%;
    height: 2em;
    border-radius: 5px;
    border: 1px solid #204060;
    background-color: #2f2f2f50;
    color: #204060;
    font-size: 1em;
}

.login-container{
    width: 50dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

.main-container h2, .info-container h2{
    width: 100dvw;
    background-color: #2f2f2f50;
    font-size: 1.6em;
    font-weight: 500;
    text-align: center;
    padding: 0.2em 0;
    margin-bottom: 0;
}

button{
    width: 100%;
    height: 2.5em;
    border-radius: 5px;
    border: none;
    background-color: #204060;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2em;
}

.funciones{
    width: 100%;
    font-style: italic;
    text-decoration: underline;
}

.olvido{
    text-align: center;
}