body{
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#343434;
    background-image: url(Img/Background.png);
}

h1{
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.logoUTN{
    height: 3em;
    color: black;
    width: auto;
    margin:0 10px;
    mix-blend-mode: multiply;  /*quitarle el fondo a imagen  */
}


.image-container{
    display: flex;
    margin-top: 1em;
    padding: 1em 0;
    background-color: #bfbfbf;
}

.UTN, .FRA{
    margin: 0;
}

.UTN{
    font-weight: bold;
}

footer{
    height: 4em;
    width: auto;
    background-color: #204060;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.login-container label{
    margin: 1.3em 12.9em 0 0;
    font-size: 1.2em;
    font-weight: 500;
}

.login-container input{
    height: 2em;
    border-radius: 5px;
    border: 1px solid #204060;
    background-color: #bfbfbf;
    color: #204060;
    font-size: 1em;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    width: 20em;
}

.main-container h2, .info-container h2{
    width: 100dvw;
    background: linear-gradient(#afafff, transparent);
    font-size: 1.6em;
    font-weight: 500;
    text-align: center;
    padding: 0.2em 0;
    margin-bottom: 0;
}

button{
    width: 100%;
    height: 2.5em;
    border-radius: 5px;
    border: none;
    background-color: #204060;
    color: #DBDBDB;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2em;
}

.funciones{
    width: 100%;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.2em;
}

.olvido{
    text-align: center;
}

@media screen and (min-width: 600px) {

    .login-form-container{
        display: flex;
        align-items: star;
        
    }
    .main-container h2, .info-container h2{
        margin: 0 1em 0em 1em;
        width: 35dvw;
        padding-left: .1em;
    }

    li{
        font-size: 1.1em;
        margin-left: 25px;
    }
    
    .main-container , .info-container {
        align-items: center;
        margin: 0 3em;
    }

    button:hover{ /*hover: cuando el cursor esta delante del botton hace lo de abajo  */
        background-color: #bfbfbf;
        width: 16.7em;
        height: 3.5em;
        color: #204060;
    }

    button:active{/*active: cuando le doy click al botton hace lo de abajo  */
        background-color: #204090;
        color: whitesmoke;
    }

    .button-container{
        align-items: center;
    }
    


    
}